EO_data/**
**/.ipynb_checkpoints/**
khthon/**
fmow/outputs*
fmow/large_object*
fmow/bnn_all*
fmow/fmow-sentinel/**
fmow/full/**
fmow/twelve_channel/**
fmow/twelve_channel_no_uncertainty/**
fmow/twelve_channel_no_uncertainty_no_weight/**
non_fmow/**
lucas/**
# Ignore all CSV files anywhere in the repository
**/*.csv

# Ignore all TAR files (including compressed .tar.gz or .tar.xz) anywhere in the repository
**/*.tar
**/*.tar.gz
**/*.tar.xz

__pycache__/
*.pyc
*.pyo
*.pyd

tests/**
